<div class="trialpartWrapper" style="text-align: right;">
	
<br> בכך שאני לוחץ/ת על כפתור "המשך" אני מסכים/ה להשתתף בניסוי אשר חוקר דו משמעויות מורפולוגיות ברוסית.
<br> <br> זהו ניסוי משולב אשר בוצע ע"י ביה"ס הגבוה לכלכלה (מוסקבה, רוסיה), אוניברסיטת הרווארד ואוניברסיטת בר-אילן.
<br> אני מאשר/ת את השימוש בתגובותיי במסגרת הניסוי ואני מבין/ה כי מידע פרטי ואישי עליי יישאר חסוי.
 <br> אני מבין/ה את תהליך הניסוי ואני מודע/ה לכך שאני יכול/ה לעזוב את הניסוי בכל שלב שאבחר.
 <br> <br> :כמו כן, אני מאשר/ת בשלב זה כי
<br>  ככל הידוע לי, איני סובל/ת מבעיות שמיעה.
<br> איני לוקח/ת תרופות אשר עלולות להשפיע על יכולת או זמן התגובה שלי.


	<%= continueButton() %>
</div>
