<div class="trialpartWrapper" style="text-align: left;">
	I agree to participate in the Russian experiment <br> <br>

By pressing "Дальше" I agree to participate in the experiment investigating morphological ambiguities in Russian. This is a joint experiment conducted by the Higher School of Economics (Moscow, Russia) and Harvard University. 
I agree to the use of my responses in research, and I understand that my personal information will be kept strictly confidential.<br> <br> 
I understand the experimental procedure and I know that I can leave the experiment at any time.<br> <br> 
I also confirm that at this time,<br> <br> 
- I am not experiencing hearing problems<br> 
- I am not taking medications that may affect my attention or response time<br> 


	<%= continueButton() %>
</div>
