<div style="text-align: right;">
<input type="hidden" name="destination" value="demographics.csv">

ועכשיו בבקשה לענות על השאלות הבאות

<p>
גיל <br>
<input type="text" name="age" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>

מין
	<select name="sex" style="position: absolute; left:15em; margin-top:-2px;">
		<option value="none">Choose</option>
		<option value="זכר">זכר</option>
		<option value="נקבה">נקבה</option>
	</select>
	

<p>
השכלה
	<select name="education" style="position: absolute; left:15em; margin-top:-2px;">
		<option value="none">Choose</option>
		<option value="תיכון">תיכון</option>
		<option value=" תואר ראשׁוֹן / שני> תואר ראשׁוֹן / שני</option>
		<option value="דוקטורט">דוקטורט</option>
	</select>
<p>

השפה הראשונה שלך  <br>
<input type="text" name="native.lang" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>

אתה מדבר שפות אחרות? אם כן, אילו שפות? באיזו רמה <br>
<input type="text" name="foreign.lang" value="" SIZE="30" MAXLENGTH="200" style="width: 30em;">

<p>

מקצוע <br>
<input type="text" name="profession" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>

את/ה
	<select name="dominant.hand" style="position: absolute; left:9em; margin-top:-2px;">
		<option value="none">choose</option>
		<option value="ימני">ימני</option>
		<option value="שמאלי">שמאלי</option>
		<option value="גם ימני ושאלי">גם ימני וגם שמאלי</option>
		<option value="שמאלי לשעבר">שמאלי לשעבר</option>
	</select>
<p>

באיזה גיל את/ה עלית לישראל <br>
<input type="text" name="profession" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">
<p>

Hכמה שנים את/ה גר/ה בישראל? <br>
<input type="text" name="profession" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">
<p>

האם את/ה משתמש/ת בשפה רוסית? באילו מצבים ובאיזו תדירות 
<br>
<input type="text" name="profession" value="" SIZE="30" MAXLENGTH="400" style="width: 30em;">

<p>
האם יש לך ירידה בשמיעה?
	<select name="hearing" style="position: absolute; left:20em; margin-top:-2px;">
		<option value="none">choose</option>
		<option value="לא">לא</option>
		<option value="כן">כן</option>
	</select>
<p>


את/ה מקשיב/ה למשפטים באמצעות
	<select name="audio" style="position: absolute; left:12em; margin-top:-2px;">
		<option value="none">choose</option>
		<option value="אוזניות">אוזניות</option>
		<option value=" רמקולים"> רמקולים</option>
		<option value="הרמקולים של המחשב הנייד">הרמקולים של המחשב הנייד/option>
		<option value="אחר">אחר</option>
	</select>
<p>


אם יש לך שאלות או הערות בנוגע לניסוי אנא יידע אותנו.
<textarea ROWS="6" COLS="30" name="sugg" style="padding: 0px; width: 30em;"></textarea><br>

<p>

נא להשאיר את פרטי הדוא"ל שלך על מנת שנוכל להשיב לתגובות שלך.
<input type="text" name="email" value="" SIZE="30" MAXLENGTH="100" style="width: 30em;">

<p>


<P style="text-align: right;">
<input type="button" value="   Send   " onClick="Experigen.recordResponse(this);">
	

</div>
