<div class="trialpartWrapper" style="text-align: left;">
<p>
	Нажмите на кнопку "Ошибка!", если в предложении есть ошибка. Если ошибок нет, не нажимайте ничего. 
<p>

	<%= makeSoundButton({soundFile: audio + '.mp3'}) %>

<p>
<%= makeScale({buttons: ["Ошибка!"], edgelabels: ["", ""], disable:true, hide:true, rightAnswer: "1"}) %>

</div>
<input type="hidden" name="condition" value="<%= condition %>" />
<input type="hidden" name="item" value="<%= item %>" />

<div style="clear: both; height: 1px;">&nbsp;</div>
