<div class="trialpartWrapper" style="text-align: left;">
<p>
	Нажмите на кнопку "Ошибка!", если в предложении есть ошибка. Если ошибок нет, не нажимайте ничего. 
<p>

	<%= makeSoundButton("tr2.mp3") %>

<p>
<%= makeScale({buttons: ["Ошибка!"], edgelabels: ["", ""], disable:true, hide:true, rightAnswer: 1}) %>
</div>

