<div class="trialpartWrapper" style="text-align: center;">
<p>
	!הקישו על "שגיאה!", אם המשפט שגוי. אם אין שגיאות, לא ללחוץ על כלום
<p>

	<%= makeSoundButton("tr5.mp3") %>

<p>
<%= makeScale({buttons: ["!שגיאה"], edgelabels: ["", ""], disable:true, hide:true, rightAnswer: 1}) %>
</div>

