<div class="trialpartWrapper" style="text-align: left;">
<br>
	.הקישו על "שגיאה!", אם המשפט שגוי. אם אין שגיאות, לא ללחוץ על כלום 
<br>

	<%= makeSoundButton("tr1.mp3") %>

<br>
<%= makeScale({buttons: ["!שגיאה"], edgelabels: ["", ""], disable:true, hide:true, rightAnswer: "1"}) %>

</div>
