<div class="trialpartWrapper" style="text-align: left;">
<br>
	Нажмите на кнопку "Ошибка!", если в предложении есть ошибка. Если ошибок нет, не нажимайте ничего. 
<br>

	<%= makeSoundButton("tr1.mp3") %>

<br>
<%= makeScale({buttons: ["Ошибка!"], edgelabels: ["", ""], disable:true, hide:true, rightAnswer: "1"}) %>

</div>
